
$heading-color: rgb(0, 104, 145);
$button-bg-color: rgb(0, 104, 145);
$para-color: rgb(39, 39, 39);
$card-background-color:aliceblue;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    
}

h1{
    font-size: 28px;
    font-weight: 600;
}
h2{
    font-size: 22px;
    font-weight: 600;
    color:#181818;
}
p{
    font-size: 15px;
    // text-align: justify;
}
.pr-1{
    padding-right: 10px;
}
a{
    text-decoration-line: none;
    color: #fff;
}

.container-main-bg {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30%;
  margin-right: 30%;
  height: 100vh;
 
}

.tourism-card{
    background-color: $card-background-color;
    padding:3%;
    gap:10px;
    text-align: center;
    border-radius: 16px 16px 0 0;
    h1{
        color: $heading-color;

    }
    p{
        color: $para-color;
        text-align: center;
    }
    button{
        background-color: $button-bg-color;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 20px;
        padding: 6px 16px;
    }
}

.container-bg-2{
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 30%;
    height: 100vh;
    padding: 1%;
    h1{
        color: #fff;
    }
    
}
.card-container{
    padding: 2%;
    background-color: #fff;
    border-radius: 4px;
    img{
        width: 100px;
        height: 100px;
    }
    p{
        color: rgb(85, 85, 85);
    }
    a{
        color: #181818;
    }
    
}

.cont-1{
    border-radius: 0px 0px 4px 4px;
}

.container-bg-3{
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 30%;
    height: 100%;
    padding: 1%;
    h1{
        color: #fff;
    }
}

.carousel-inner{
    img{
        height: fit-content;
        width: 100vh;
    }
}

@media (max-width:700px) {
    .container-main-bg, .container-bg-3, .container-bg-2{
        width: 100%;
        margin: 0 0;
    }
    // .container-bg-2, .container-bg-3{
    //     height: 100vh;
    // }
    .p-5 {
        padding: 1rem !important;
    }
    
}